<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        table th, td  {
          border: 1px solid;
          padding: 10px;
        }
        th{
          color: white;
          background-color: rgb(18, 21, 216);
        }
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;
        }
    </style>
    <table>
        <tr>
            <th>amount </th>
            <th>transaction_type</th>
            <th>transaction_charge </th>
            <th>transaction_cost</th>
            <th>account_origin</th>
            <th>destination</th>
            <th>receipt</th>
        </tr>
        {% for wallet in wallet%}
        <tr>
            <td>{{customer.first_name}}</td>
                <td>{{customer.last_name}}</td>
                    <td>{{customer.email}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>